Entrega3/trabajo.uy/DispositivoMovil/src/main/webapp/wsdl/WebServicesPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServicesService" targetNamespace="http://webservice/">
  
  <types>
    
    <xsd:schema>
      
      <xsd:import namespace="http://webservice/" schemaLocation="http://localhost:9128/webservices?xsd=1"/>
      
    </xsd:schema>
    
  </types>
  
  <message name="obtenerDatosUsuario">
    
    <part name="arg0" type="xsd:string"/>
    
  </message>
  
  <message name="obtenerDatosUsuarioResponse">
    
    <part name="return" type="tns:usuarioBean"/>
    
  </message>
  
  <message name="validarCredenciales">
    
    <part name="identificador" type="xsd:string"/>
    
    <part name="contraseña" type="xsd:string"/>
    
  </message>
  
  <message name="validarCredencialesResponse">
    
    <part name="return" type="xsd:boolean"/>
    
  </message>
  
  <message name="listarNicknamesUsuario"/>
  
  <message name="listarNicknamesUsuarioResponse">
    
    <part name="return" type="tns:hashSet"/>
    
  </message>
  
  <portType name="WebServices">
    
    <operation name="obtenerDatosUsuario">
      
      <input message="tns:obtenerDatosUsuario" wsam:Action="http://webservice/WebServices/obtenerDatosUsuarioRequest"/>
      
      <output message="tns:obtenerDatosUsuarioResponse" wsam:Action="http://webservice/WebServices/obtenerDatosUsuarioResponse"/>
      
    </operation>
    
    <operation name="validarCredenciales" parameterOrder="identificador contraseña">
      
      <input message="tns:validarCredenciales" wsam:Action="http://webservice/WebServices/validarCredencialesRequest"/>
      
      <output message="tns:validarCredencialesResponse" wsam:Action="http://webservice/WebServices/validarCredencialesResponse"/>
      
    </operation>
    
    <operation name="listarNicknamesUsuario">
      
      <input message="tns:listarNicknamesUsuario" wsam:Action="http://webservice/WebServices/listarNicknamesUsuarioRequest"/>
      
      <output message="tns:listarNicknamesUsuarioResponse" wsam:Action="http://webservice/WebServices/listarNicknamesUsuarioResponse"/>
      
    </operation>
    
  </portType>
  
  <binding name="WebServicesPortBinding" type="tns:WebServices">
    
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <operation name="obtenerDatosUsuario">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body namespace="http://webservice/" use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body namespace="http://webservice/" use="literal"/>
        
      </output>
      
    </operation>
    
    <operation name="validarCredenciales">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body namespace="http://webservice/" use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body namespace="http://webservice/" use="literal"/>
        
      </output>
      
    </operation>
    
    <operation name="listarNicknamesUsuario">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body namespace="http://webservice/" use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body namespace="http://webservice/" use="literal"/>
        
      </output>
      
    </operation>
    
  </binding>
  
  <service name="WebServicesService">
    
    <port binding="tns:WebServicesPortBinding" name="WebServicesPort">
      
      <soap:address location="http://localhost:8080/DispositivoMovil/services/WebServicesPort"/>
      
    </port>
    
  </service>
  
</definitions>
